/**************************************************TAG SELECTORS**************************************************/

body {
    background-color: #222831;
}

h1 {
    color: #00ADB5;
    font-size: 450%;
}

p {
    color: #EEEEEE;
    font-size: 175%;
}

/**************************************************CLASS SELECTORS**************************************************/

.heading {
}

.rounded {
    border-radius: 15%;
}

/**************************************************ID SELECTORS**************************************************/

#moss-img {
    height: 175px;
}