/**************************************************TAG SELECTORS**************************************************/

body {
    background-color: #222831;
}

h1 {
    color: #00ADB5;
    font-size: 450%;
    margin: 0px;
    margin-top: 5%;
    text-align: center;
    font-family: 'Courier New';
}

p {
    color: #EEEEEE;
    font-size: 175%;
    margin:0px;
    margin-top: 2%;
    text-align: center;
    font-family: 'Courier New';
}

a {
    color: #00ADB5;
    margin: 0px;
    font-family: 'Courier New';
}

/**************************************************CLASS SELECTORS**************************************************/

.content {
    background-color: #393E46;
    border-radius: 2vw;
    margin: 5vw;
    padding: 5vw;
    
}

.rounded {
    border-radius: 15vw;
}

/**************************************************ID SELECTORS**************************************************/

#moss-img {
    display: block;
    height: 175px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}