body {
    background-color: #0E0E0E;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h2 {
    color: #0E0E0E;
    font-size: 200%;
    margin: 6% 0 0 0;
    text-align: center;
}

h3 {
    color: #0E0E0E;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    margin: 5% 0 5% 0;
}

li {
    color: #0E0E0E;
    display: inline;
    text-align: center;
    margin: 0 5% 0 5%;
}

.li-left {
    margin: 0 5% 0 0;
}

.li-right {
    margin: 0 0 0 5%;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 99vh;
    justify-content: center;
    width: 99vw;
}

.heading-box {
    align-items: center;
    background-color: #E0E0E0;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 20%;
}

.heading-logo {
    border-radius: 4vh;
    height: 200px;
    margin: 20% 0 0 0;
    width: 200px;
}

.heading-link-bar {
    display: flex;
    flex-direction: row;
    margin: 10% 0 0 0;
}

.heading-link-bar-logo {
    height: 40px;
    padding: 0 2px 0 2px;
}

.box {
    align-items: center;
    background-color: #E0E0E0;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 50%;
}

.frontend-backend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10% 0 0 0;
}

.frontend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10% 0 0;
    
}

.backend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 10%;
}

.frontend-backend-logo {
    width: 10rem;
}

.list-logo {
    width: 30px;
}

.contact {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-group-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20% 0 0;
    text-align: center;
}

.contact-group-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 20%;
    text-align: center;
}

.bottom-button {
    border-radius: 1vw;
    padding: 10px;
    text-align: center;
}

.button-img {
    margin: 0 0 0 0;
    width: 30px;
}