body {
    background-color: #0E0E0E;
    display: block;
    font-family: 'Anonymous Pro', monospace;
    margin: 0;
    padding: 0;
}

h2 {
    color: #0E0E0E;
    font-size: 120%;
    font-weight: 1200;
    line-height: 120%;
    margin: 15% 0 0 0;
    text-align: center;
}

h3 {
    color: #0E0E0E;
    text-align: center;
}

hr {
    border: 8px dotted;
    border-style: none none dotted;
    color: #0E0E0E;
    margin: 5% 0 5% 0;
    width: 10%; 
}
ul {
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-block: 0;
    padding: 1%;
}
li {
    color: #0E0E0E;
    display: block;
    flex-direction: column;
    font-size: 90%;
    font-weight: 600;
    padding: 3%;
    text-align: center;
    width: fit-content;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 98vw;
}

.heading-box {
    align-items: center;
    background-color: #E0E0E0;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 3%;
    width: fit-content;
}

.heading-logo {
    border-radius: 4vh;
    margin: 20% 0 0 0;
    max-width: 110px;
}

.heading-link-bar {
    display: flex;
    flex-direction: row;
    margin: 20% 0 5% 0;
}

.heading-link-bar-logo {
    height: 40px;
    padding: 0 7px 0 7px;
}

.box {
    align-items: center;
    background-color: #E0E0E0;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 3%;
    width: fit-content;
}

.frontend-backend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 0 0 0;
}

.frontend {
    display: flex;
    flex-direction: column;
    padding: 0 20% 0 0;
    
}

.backend {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20%;
}

.frontend-backend-logo {
    width: 100px;
}

.skills-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.list-logo {
    width: 20px;
}

.contact {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 2% 0;
}

.contact-groups {
    font-size: 80%;
    font-weight: 900;
}

.contact-group-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10% 0 0;
    text-align: center;
}

.contact-group-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 10%;
    text-align: center;
}

.bottom-button {
    border-radius: 1.8vw;
    background-color: #E0E0E0;
    font-size: 80%;
    padding: 7px;
    text-align: center;
}

.button-img {
    margin: 0 0 0 0;
    width: 30px;
}