body {
    background-color: #0E0E0E;
    font-family: 'Anonymous Pro', monospace;
}

#nav-bar {
    background-color: #E0E0E0;
    border-radius: 5vh;
    display: flex;
    flex-direction: row;
    height: 10%;
    position: sticky;
    width: 100%;
    top: 0;
}
#nav-list {
    border: #0E0E0E;
    list-style-type: none;
    margin: 1% auto 1% 80%;
    width: 100%;
}

.nav-item {
    color: #0E0E0E;
    float: left;
    font-weight: bold;
    margin: 0 8% 0 0;
}

.container {
    display: flex;
    height: 97vh;
    width: 99vw;
}

#top-container {
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.top-container-section {
    display: flex;
    flex-direction: column;
}

#top-container-left-section {
    align-items: center;
    background-color: #E0E0E0;
    border-radius: 5vh;
    padding: 2%;
    text-align: center;
}

#logo {
    border-radius: 5vh;
    max-width: 200px;
}

#heading-text {
    line-height: 120%;
}

.contact-bar-item {
    margin: 0;
}

.contact-bar-icon {
    max-width: 35px;
}

#top-container-right-section {
    color: #E0E0E0;
    margin: 0 0 0 5%;
    width: 55%;
}

.top-container-right-section-heading {
    line-height: 0;
}

#top-container-right-section-heading-1 {
    line-height: 0;
    text-align: center;
}

.top-container-right-section-strap {
    text-align: center;
}

#frontend-backend {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.frontend-backend-icon {
    max-width: 90px;
}

#frontend {
    display: flex;
    flex-direction: column;
    padding: 0 15% 0 0;
    
}

#backend {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 15%;
}

#skill-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-block: 0;
    padding: 1%;
}

.list-icon {
    margin: 1%;
    max-width: 30px;
}

.skill-list-item {
    color: #E0E0E0;
    display: block;
    flex-direction: column;
    font-size: 90%;
    font-weight: 600;
    padding: 3%;
    text-align: center;
    width: fit-content;
}
/*
.active {
    background-color: #0E0E0E;
    color: #E0E0E0;
}
*/
@media (max-width: 980px) {
    #top-container {
        flex-direction: column;
    }
    
    #top-container-left-section {
        border-radius: 5vw;
        margin: 0 0 10% 0;
        padding: 5%;
        font-size: 160%;
    }

    #logo {
        border-radius: 5vw;
        max-width: 400px;
    }

    .contact-bar-icon {
        max-width: 60px;
    }

    #top-container-right-section {
        color: #E0E0E0;
        font-size: 150%;
        padding: 2%;
        width: 95%;
    }

    .top-container-right-section-heading {
        font-size: 120%;
    }
  }